#spilari
{
    display: none;
}
#playermain
{
	position: relative;
	z-index: 1;
	width: 400px;
	height: 152px;
	top: 50px;
	left: 50px;
}
#oval
{
	position: absolute;
	z-index: 3;
	width: 400px;
	height: 152px;
	background: url(images/playersprite.png);
	background-repeat: no-repeat;
}
#list
{
	position: absolute;
	z-index: 2;
	width: 394px;
	min-height: 200px;
	height: 200px;
	display: none;
	top: 70px;
	left: 3px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	background: url(images/listback.png);
	background-repeat: repeat-y;
}
#listbottom
{
	position: absolute;
	bottom: -6px;
	width: 380px;
	height: 7px;
	left: 7px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: url(images/listbottom.png);
	background-repeat: repeat-x;
}
#mpPlay
{
	position: absolute;
	width: 76px;
	height: 76px;
	top: 35px;
	left: 162px;
	background: url(images/playersprite.png) -1px -160px;
	background-repeat: no-repeat;
}
#mpPlay:active
{
	background: url(images/playersprite.png) -77px -160px;
	background-repeat: no-repeat;
}
#mpList
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 48px;
	left: 40px;
	background: url(images/playersprite.png) -153px -161px;
	background-repeat: no-repeat;
}
#mpList:active
{
	background: url(images/playersprite.png) -153px -211px;
	background-repeat: no-repeat;
}
#mpNext
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 22px;
	left: 101px;
	background: url(images/playersprite.png) -203px -161px;
	background-repeat: no-repeat;
}
#mpNext:active
{
	background: url(images/playersprite.png) -203px -211px;
	background-repeat: no-repeat;
}
#mpPrev
{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 74px;
	left: 101px;
	background: url(images/playersprite.png) -253px -161px;
	background-repeat: no-repeat;
}
#mpPrev:active
{
	background: url(images/playersprite.png) -253px -211px;
	background-repeat: no-repeat;
}
#mpVolDn
{
	position: absolute;
	width: 33px;
	height: 33px;
	top: 82px;
	left: 250px;
	background: url(images/playersprite.png) -66px -237px;
	background-repeat: no-repeat;
}
#mpVolDn:active
{
	background: url(images/playersprite.png) -99px -237px;
	background-repeat: no-repeat;
}
#mpVolUp
{
	position: absolute;
	width: 33px;
	height: 33px;
	top: 82px;
	left: 290px;
	background: url(images/playersprite.png) 0px -237px;
	background-repeat: no-repeat;
}
#mpVolUp:active
{
	background: url(images/playersprite.png) -33px -237px;
	background-repeat: no-repeat;
}
#mpCurrPos_progr
{
	position: absolute;
	width: 100px;
	height: 15px;
	top: 46px;
	left: 245px;
	padding: 2px;
	//background-color: #222;
	font-family: "tahoma","verdana";
	font-size: 12px;
	color: #ccc;
}
#mpProgress
{
	position: absolute;
	width: 118px;
	height: 12px;
	top: 65px;
	left: 245px;
	text-align: left;
	//background-color: #f44;
}
.button:hover, li:hover
{
	cursor:pointer;
	cursor:hand;
}